@media only screen and (max-width:600px) {



  h1.tittle {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 900;
    font-size: xx-large;
    color: var(--color-primary);

  }


  h2.subtittle {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: x-large;
    color: var(--color-primary);
  }

  h3.resaltado {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: x-large;
    color: var(--color-primary);
  }

  h4.negritas {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: x-large;
    color: var(--color-primary);
  }

  p.texto {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 500px;
    color: var(--color-black);
  }


  .recuadro {
    display: flex;
    align-content: space-between;
  }





  .container6 {

    flex-direction: column;
  }

  .recuadro {
    display: column;
  }









}