/* Add styles here */
:root {
    /* here variables goes */
  
    --color-primary:#76459C;
    --color-black:#000000;
    --color-background:#D1BCD7;
    --color-but3:#BC84E7;
    --color-casa:#372148;
    --color-por:#8026C5;
    --color-botton:#f337a4;



    --img-sm: 3rem;
    --img-md: 6rem;
  }
  
  /* importar bootstrap */
  @import '~bootstrap/dist/css/bootstrap.min.css';
  
  .btn--primary {
    color: var(--color-primary);
    color: var(--color-black);
  }

  .signo{max-width: 1px;}
  .cara{max-width: 1px;}


 






/*fuentes */

  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

  h1.tittle{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: xx-large;
    font-weight: 900;
    color:var(--color-primary);
    
  }

  h2.subtittle{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: x-large;
    font-weight: 600;
    color:var(--color-primary);
  }

  h3.resaltado{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: x-large;
    font-weight: 600;
    color:var(--color-primary);
  }

  h4.negritas{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: x-large;
    font-weight: 600;
    color:var(--color-primary);
  }

  p.texto{
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-size: x-large;
    font-style: normal;
    color:var(--color-black);
  }

 body.bg-papel{
 background-image: url("./src/img/papel.jpg");
 }

 body{
  cursor: url("./src/img/hacha.png"), auto;
 }

  .container0{
    display: flex ;
    flex-direction: row;
    justify-content: space-between;
    margin: 70px; 
  }

  
  .container{
    display: flex ;
    flex-direction: row;
    justify-content: space-between;
    /* align-items:flex-start; */
  }

  .container1{
    display: flex ;
    /* flex-direction: row; */
    justify-content: space-around;
  }

  .container2{
    display: flex;
    justify-content: flex-end;
  }

  .container3{
    display: flex;
    justify-content: flex-start;
    background-color: rgba(209, 188, 215, 0.5); /* 50% de transparencia */
    max-width: 500px; /* Ancho máximo */
    padding: 10px; /* Espaciado interno */
    margin: 20px; /* Centrar el recuadro */
  }

  .container4{
    display: flex;
    justify-content: space-between;
  }

  .container5{
    max-width: 50%; /* Ancho máximo */
  }

  .container6{
    display: flex;
    justify-content: flex-start;
  }

  .container7{
    align-items: center;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.5); /* 50% de transparencia */
    max-width: 375px; /* Ancho máximo */
    padding: 10px; /* Espaciado interno */
    margin: 20px; /* Centrar el recuadro */

  }

  .container8{
    align-content: center;
    background-color: rgba(255, 255, 255, 0.5); /* 50% de transparencia */
    max-width: 375%; /* Ancho máximo */
    padding: 10px; /* Espaciado interno */
    margin: 20px; /* Centrar el recuadro */

  }

  .container9{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 20px; /* Centrar el recuadro */

  }

  .container10{
    display: flex ;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    
  }

  .container11{
    display: flex ;
    flex-direction: column;
    justify-content: space-around;
    /* margin: 20px; */
    
  }
  .container12{
    display: flex ;
    flex-direction: row;
    max-width: 100%; /* Ancho máximo */
    justify-content: space-between;
    align-items:flex-start;
  }

 

 .rectangulo {
  background-color: rgba(255, 255, 255, 0.5); /* 50% de transparencia */
  /* padding: 20px; */
  width: 20vw;
  /* height: 26vw; */
  border: 20px; /* Bordes redondeados opcionales */
  align-items: flex-end;
  /* justify-content: center; */
 padding: 10px; 
 margin: 40px; 
 }

 .ul {
  padding-left: 0 !important;

 }

 .rectangulo ul {
  list-style-type: none;
  padding: 10px;
  
 }

 .rectangulo li {
  margin-bottom: 5px;
 } 


 .recuadro{
  display: flex;

  /* flex-wrap: wrap;  */
 gap: var(--space-sm); 
 }

 .recuadro1{
 align-items: flex-start;
 background-color: rgba(255, 255, 255, 0.5); /* 50% de transparencia */
 max-width: 70vw;
 padding: 10px; 
 margin: 20px; 
 }

 .recuadro2{
 display: flex;
 flex-direction: column;
 }

 .recuadro3{
 background-color: rgba(255, 255, 255, 0.5); /* 50% de transparencia */
 }


 .recuadro4{
 align-items: flex-start;
 margin: 20px; /* Centrar el recuadro */
 }

 .recuadro5{
 align-items: flex-start;
 background-color: rgba(255, 255, 255, 0.5); /* 50% de transparencia */
 max-width: 1300px; 
 max-height: 200px;
 padding: 10px; 
 margin: 20px; 
 }


 .recuadro6{
 display: flex;
 justify-content: center;
 }

 .recuadro7{
 align-items: center;
 justify-content: space-between;
 background-color: rgba(255, 255, 255, 0.5); /* 50% de transparencia */
 max-width: 1200px; 
 max-height: 250px;
 padding: 10px; 
 margin: 20px; 
 }

 .recuadro8{
 display: flex;
 align-items: center;
 justify-content: space-between;
 }


 .recuadro9{
 background-color: rgba(209, 188, 215, 0.5); /* 50% de transparencia */
 justify-content: flex-start;
 max-width: 100%; /* Ancho máximo */
 padding: 10px; /* Espaciado interno */
 margin: 20px; /* Centrar el recuadro */
 }

 .recuadro10{
 display: flex;
 align-items: flex-start;
 flex-direction: row;
 }

 .recuadro11{
 align-items: flex-end;
 background-color: rgba(255, 255, 255, 0.5); /* 50% de transparencia */
 max-width: 300px; /* Ancho máximo */
 padding: 10px; /* Espaciado interno */
 margin: 20px; /* Centrar el recuadro */
 align-content: column;
 }


      

 /* estrustura index */



 .button1 {
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 12px;
 margin: 4px 2px;
 cursor: pointer;
 background-color: var(--color-por);
 transition: transform 0.2s, background-color 0.2s;
 }





 /* Al presionar */
 .button1:active {
  transform: scale(1.1);
  background-color: #00cc07; /* Ajusta este color según tu diseño */
 }



 .button2 {
  border: none;
  color: white;
  padding: 1.3vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: var(--color-por);
  transition: transform 0.2s, background-color 0.2s;
  
 }

 /* Al presionar */
 .button2:active {
  transform: scale(1.1);
  background-color: #65de02; /* Puedes cambiar este color si tienes uno más adecuado */
 }


 /* cursor arriba */
 

 .button2:hover{
  width: 100%;
  left: 0%;
  color: #000000;
  background-color: #65de02;
  transition: 0.5s;
  border-radius: 100vw;

  /* transition: width 0.5s ease-in-out; */
 }

button.button2::before{
  content: "";
  opacity: 0;
}


button.button2:hover::before{
  content: "";
  opacity: 1;
  transition: opacity 1s;
}



 .button3 {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: var(--color-but3);
  transition: transform 0.2s, background-color 0.2s;
 }

 /* Al presionar */
 .button3:active {
  transform: scale(1.1);
  background-color: #d0ff00; 
 }

 /* cursor arriba */
 

 .button3:hover{
  width: 100%;
  left: 0%;
  color: #000000;
  background-color: #f8f87c;
  transition: 0.5s;
  border-radius: 100vw;

  /* transition: width 0.5s ease-in-out; */
 }

button.button3::before{
  content: "";
  opacity: 0;
}


button.button3:hover::before{
  content: "";
  opacity: 1;
  transition: opacity 1s;
}



 .button4 {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: var(--color-botton);
  transition: transform 0.2s, background-color 0.2s;
  position: relative;
 }


 /* Al presionar */
 .button4:active {
  transform: scale(1.1);
  background-color: #bd06fa; 
 }
 /* cursor arriba */
 

 .button4:hover{
  width: 100%;
  left: 0%;
  color: #ffffff;
  background-color: #bd06fa;
  transition: 0.5s;
  border-radius: 100vw;

  /* transition: width 0.5s ease-in-out; */
 }

button.button4::before{
  content: "";
  opacity: 0;
}


button.button4:hover::before{
  content: "";
  opacity: 1;
  transition: opacity 1s;
}



 .iconomorado{
  color: var(--color-casa);
  font-size: 5rem;
 }

 .iconomorado1{
  color: var(--color-casa);
  font-size: 2rem;
 }

  /* rectangulo */
 




 /* #about img{
  max-width: 20vw;
 } */

 #about p{
  background-color: var(--color-background);
  padding: 2rem;
 }

 container.centro {
  margin-top: 50%;
  margin-left: 50%;
  align-content: space-between;}
 




