/* Add styles here */
:root {
    /* here variables goes */
  
    --color-primary:#76459C;
    --color-black:#000000;
    --color-background:#D1BCD7;
    --color-but3:#BC84E7;


    --img-sm: 3rem;
    --img-md: 6rem;
  }
  
  /* importar bootstrap */
  @import '~bootstrap/dist/css/bootstrap.min.css';
  
  .btn--primary {
    color: var(--color-primary);
    color: var(--color-black);
  }

  .creatividad{max-width: 5px;}
  .grafico{max-width: 50px;}
  .ilustracion{max-width: 50px;}
  .informacion{max-width: 50px;}
  .cara{max-width:5px;}
  .animate{max-width: 50px;}
  .autocad{max-width: 50px;}
  .illustrator{max-width: 50px;}
  .ceremonia{max-width: 500px;}
  .habitacion{max-width: 500px;}
  .nugo{max-width: 500px;}
  .signo{max-width: 2px;}
  .megafono{max-width: 5px;}
  .ojo{max-width: 20px;}
  .disco{max-width: 20px;}
  .corazon{max-width: 5px;}
  .cocina{max-width: 50px;}
  .playa{max-width: 50px;}
  .pilares{max-width: 50px;}



 






/*fuentes */

  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

  h1.tittle{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 900;
    color:var(--color-primary);
    
  }

  h2.subtittle{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    color:var(--color-primary);
  }

  h3.resaltado{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    color:var(--color-primary);
  }

  p.texto{
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    color:var(--color-black);
  }

  body.bg-papel{
    background-image: url("./src/img/papel.jpg");
  }

  
   
  


/* estrustura index */

.button1 {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;}
.button1 {background-color: #8026C5;}

.button2 {
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;}
.button2 {background-color: #8026C5;}


.button3 {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;}
.button3 {background-color: #BC84E7;}


.iconomorado{
  color: var(--color-but3);
}

/* rectangulo */





/* #about img{
  max-width: 20vw;
} */

#about p{
  background-color: var(--color-background);
  padding: 2rem;
}

container.centro {
  margin-top: 50%;
  margin-left: 50%;
  align-content: space-between;
}